* {
  margin: 0%;
  padding: 0%;
}

.content {
    display: block;
    margin: auto;
    width: 1280px;

}

a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: #ff0000;
}

a:visited {
  color: #ff0000;
}

a:active {
  background: #ff0000;
  color: #ffffff;
}

.header-menu {
  font-weight: 700;
  font-size: 18px;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  line-height: 18px;
  letter-spacing: 2.7px;
  color: #ff0000;
}

.home {
  margin-left: 330px;
}

.photoapp {
  margin-left: 72px;
}

.download {
  margin-left: 50px;
}

.design {
  margin-left: 72px;
  margin-right: 50px;
}

.main {
  padding-left: 67.5px;
  padding-right: 67.5px;
  font-family: "Montserrat";
  font-style: normal;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}

.big-text {
  padding-top: 48px;
  text-transform: uppercase;
  align-items: center;
}

.p1 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.inbutton {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  width: 191px;
  height: 51px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 4px;
}
.button {
  margin-top: 66px;
  margin-left: 544.5px;
  margin-right: 544.5px;
  /* width: 191px;
  height: 51px; */
}
.footer {
  padding-top: 82px;
  padding-right: 105px;
  padding-bottom: 29px;
  padding-left: 713px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  letter-spacing: 2.4px;
  text-align: right;
  color: #373737;
}
